name: Deploy Static Site to Windows EC2

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Clear IIS Folder
        run: |
          if (Test-Path "C:\inetpub\wwwroot") {
            Remove-Item "C:\inetpub\wwwroot\*" -Recurse -Force
          }

      - name: Deploy Website (XCOPY)
        run: |
          xcopy "$env:GITHUB_WORKSPACE" "C:\inetpub\wwwroot" /E /H /C /I /Y
